header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;

}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img{
  padding: 10px 10px;
}

.logo span{
  color: mediumaquamarine;
}

nav{
  padding-right: 40px;
}

nav span{
  display: inline-block;
}

nav a{
  color: black;
}

.column-layout{
  display: flex;
}

.left-column{
  display: inline-block;
  width: 630px;

}
.left-column .article{
  border: 1px solid black;
}

.middle-column{
  display:inline-block;
  width: 300px;
}

.middle-column .article{
  border: 1px solid black;
}

.right-column{
  display: inline-block;
  width: 240px;
}

.right-column .article{
  border: 1px solid black;
}
